* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

div,
h2,
h1 {
  font-weight: bolder;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  background: #d8d5e0;
  padding: 20px;
}

.container {
  display: flex;
  height: 400px;
}

.main_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: antiquewhite;
  width: 60%;
}

.section1 {
  padding: 20px;
}

.part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px;
}

.part p {
  display: flex;
  justify-content: center;
}

.part .part1 {
  background: #f3d4b7;
  width: 350px;
  padding: 20px;
  margin: 10px;
}

.part .part2 {
  background: #f3d4b7;
  width: 350px;
  padding: 20px;
  margin: 10px;
}

.part .part3 {
  display: flex;
  flex-grow: 1;
  width: 350px;
  background: #f3d4b7;
  padding: 20px;
  margin: 10px;
}

.section2 {
  display: flex;
  justify-content: center;
  background: #bdccc4;
  width: 40%;
  padding: 20px;
}

.footer {
  background: #d8d5e0;
}

.section3 {
  display: flex;
  justify-content: space-between;
}

.section3 p {
  background: #fff;
  margin: 20px;
  padding: 20px;
}
